* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 50px;
}

main section {
  display: flex;
}

main section article {
  text-align: center;
}

main section.sec1 {
  flex-direction: column;
  gap: 2vh;
}

main section.sec1 article.art1 {
  background: url("img/sec1_img1.jpg") bottom no-repeat;
}

main section.sec1 article.art2 {
  background: url("img/sec1_img2.jpg") bottom no-repeat;
}

main section.sec1 article.art3 {
  background: url("img/sec1_img3.jpg") bottom no-repeat;
}

main section.sec1 article {
  height: 580px;
}

main article {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding-top: 5vh;
}

main article h2 {
  font-size: 3.5em;
}

main article h3 {
  font-size: 1.75em;
}

main article p {
  color: #6e6e73;
  font-size: 1.5em;
  padding-top: 0.75em;
}

main article a {
  color: #06c;
  font-size: 1.25em;
  padding-right: 0.75em;
  text-decoration: none;
}

main .art2, .art3 {
  color: white;
}

main .art3 h2.logo-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5em;
  width: 190px;
  height: 75px;
  background-size: 190px 72px;
  background: url("img/watch_series9.png") center no-repeat;
}

main .links {
  padding: 1em;
}